.wp-block-daily-nasa-photo-picture {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	background-color: #fff;
	color: #0a0b0d;
	padding: 2px;
}

.ndp-image {
	order: 2;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 5px;
}

.ndp-title {
	padding-top: 2px;
	order: 0;
}